<h1>Admin Portal</h1>
<div class="col-md-3">
  <p>
    Click here to  <%= link_to 'Logout', destroy_user_session_path,:method =>:delete %>
  </p>
</div>

<table>
  <tr>
    <td>
      <%= link_to "Edit Admin Account", edit_user_registration_path(@user) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Add a New Account", new_user_registration_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Lock/Unlock Accounts", :controller => :admin, :action => :lock_unlock_account %>
    </td>
  </tr>
</table>

