<div class="col-sm-6 col-md-4 col-md-offset-4">
  <div class="login-panel panel panel-default">
    <div class="panel-body">
      <img src="/shout%202.png" alt="SHOUT" style="height: 175px;" />
      <p>Welcome to SHOUT! A new and exciting social media meant to quickly SHOUT out your thoughts.</p>
    </div>
  </div>
</div>


