<p><%= link_to "Back to Friends", :controller => :friendships, :action => :show %></p>


<h1>Select users to follow!</h1>


<div id="users">
  <div class="user">
  <ul>
  <% for user in @users %>
        <% if user.id != @user.id %>
        <li>
          <%=h user.first_name %> <%=h user.last_name %>
          <%= link_to "Follow", :controller => :friendships, :action => :create, :friend_id => user.id %>
        <div class="clear"></div>
        </li>
        <% end %>
  <% end %>
  </ul>
  </div>
</div>

