

body{
    background: #ffffff;
}

#post-side-menu{
    background: #e7e7e7;
}

#login-form{

}

#new-post{

    height: 135px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px -15px;
}



#feed{

    widows: 100%;
}

hr{
    border-color: #000000;
}

.close{
    padding-left: 10px !important;

}

.alert{
    float: right;
}

.chat li{
    border-bottom: none;
}

.chat li:nth-child(odd){
    background: rgb(240, 240, 240);
}

textarea {
    resize: none;
}
