

body{
    background: #ffffff;
}

#post-side-menu{
    background: #e7e7e7;
}

#login-form{

}

#new-post{

    padding: 5px;
    height: 135px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0px -15px;
}



#feed{

    widows: 100%;
}

hr{
    border-color: #000000;
}